@using Microsoft.AspNetCore.Identity
@inject SignInManager<CRMUser> SignInManager
@inject UserManager<CRMUser> UserManager

@{
    var user = await UserManager.FindByNameAsync(User.Identity.Name);
}


@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link" asp-controller="MyUser" asp-action="Watch" asp-route-id="@user?.Id">
            <i class="nav-icon fas fa-user"></i>
            <p>
                @(user?.GetShortName())
            </p>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" id="exitButton">
            <i class="nav-icon fas fa-arrow-right"></i>
            <p>
                Выйти
            </p>
        </a>
    </li>
    <form class="nav-link" hidden asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "News", new { area = "" })">
        <p>
            <button type="submit" id="formExitButton" class="btn text-white">Выйти</button>
        </p>
    </form>
    <script>
        $(document).ready(function(){
            $('#exitButton').click(function(){
                $('#formExitButton').click();
            });
        });
    </script>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">login</i>
            </div>
            <span class="nav-link-text ms-1">Войти</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">assignment</i>
            </div>
            <span class="nav-link-text ms-1">Зарегестрироваться</span>
        </a>
    </li>
}
