@model List<CRMNews>
@{
    ViewData["Title"] = "Home Page";
}
<div class="">
    <h1 class="display-4" style="text-align: center">Новости</h1>
    <div class="align-right">
        <a type="submit" class="btn btn-primary toRight" asp-action="FormCreate">Создать</a>
    </div>
    <div class="card-body">
        @if (Model.Count>0)
        {
            foreach(var newsitem in Model)
            {
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@newsitem.Name</h5>
                        <p class="card-text">Id новости: @newsitem.Id</p>
                        <h6 class="card-title text-white">@newsitem.Description</h6>
                        <p>Автор: <a href="#" class="text-white">@newsitem.Author.UserName</a></p>
                    </div>
                </div>
                <br>
            }
        }
        else
        {
            <div class="card">
                <h2 class="display-2">Нет новостей</h2>
            </div>
        }
    </div>
</div>

<style>
    .align-right {
        text-align: right;
        border: 0;
    }
</style>